{{- with .Params.series -}}
  {{- $series := $.GetTerms "series" -}}
  {{- range $series -}}
    {{- $seriesPages := .Pages -}}
    {{- if gt (len $seriesPages) 1 -}}
      <div class="post-series">
        <h3 class="series-title">{{ i18n "series" | default "Series" }}: {{ .LinkTitle }}</h3>
        <ul class="series-list">
          {{- range $seriesPages.ByDate -}}
            <li class="series-item{{ if eq .Permalink $.Permalink }} current{{ end }}">
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
          {{- end -}}
        </ul>
      </div>
    {{- end -}}
  {{- end -}}
{{- end -}}
